/**
 * 左下列表按钮
 */
.listBtn{
  position: fixed;
  left: 15px;bottom: 10px;
  transition: 0.4s transform;
}
.i-listBtn{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABbklEQVRoQ+2WvU0DQRCFP0cgt4CoAEFgIyiCEqAARGAh94EIiIjpAYoAJISogRZAJFgjjGVWnPft7XI/Zi69N7PvZ3buBvT8GfScPy6g7QQ9AU8g0wEfoUwDs8s9gWwLMxusdQKfmebEykPz1PN+1K1KQG0YI1r13gWYM2udQN3RqFsXjqy0YCRQXUaJdS4g0bDi8OIJtL1GpfHu8hZyAb0foeK3NNKw+CV2AYkOeAKhYbmXuGoNbgJnwDGwM/+hfAb2AwKtr9HfCGwDd3PisQnrnABz/kEkH/vVX4j/yy9x2HsKXMRsX3qfnUDCWRL0ERhJyC9Q5wS8Axv/RcAbMFTESjEpjQSMXeCxgDPIPXCgYJsUcA5cKqSACXClYJsUYPNvzu5GiD0Bh8BH1wQYny3gFtirIGfkj4BXhby8qtRmIs6SOAVOlj5qL8ANcK06/31WkyMk6kuDuYA0v8qjPYHynqZ19ATS/CqP7n0CMz+jMzHA64pgAAAAAElFTkSuQmCC);
}
.to-right{
  transition: 0.4s transform;
  transform: translateX(360px);
}



/**
 * 按钮总体样式
 */
.i-listBtn{
  width: 48px;height: 48px;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  transition: 0.4s;
}
.i-listBtn:hover{
  transform: scale(1.2);
}

/**
 * 小屏按钮适配
 */
@media screen and (max-width:500px){
  .i-listBtn{
    transform:scale(0.8);
  }
  .i-listBtn:hover{
    transform: scale(1);
  }
}
@media screen and (max-height:600px){
  .i-listBtn{
    transform:scale(0.8);
  }
  .i-listBtn:hover{
    transform: scale(1);
  }
}
